#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
h1{
  color: red;
}
.articles {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}
.article_card{
  width: 300px;
  height: 325px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  border: 3px black solid;
  margin-bottom: 10px;
  border-radius: 5px;
}
.article_img{
  margin: 0;
  width: 200px;
}
.article{
  border: 2px black solid;
  padding: 10px;
  border-radius: 5px;
  margin: 15px;
}
.article button {
  margin:5px;
}
.commentCard{
  border: 2px black solid;
  padding: 10px;
  border-radius: 5px;
  margin: 15px;
}
.commentForm{
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 15px;
}
.commentForm button{
  width: 70px;

}
.topics{
  display: flex;
}
.topicCard{
  border: 2px black solid;
  border-radius: 5px;
  margin: 10px;
  padding: 10px;
  width: 33%;
}